# Las variables de entorno para la configuración de MariaDB y Qdrant
# Estas variables deben coincidir con las utilizadas por docker-compose.yml
# MARIADB_HOST = mariadb # cuando la apliación corre dentro de un contenedor de docker
MARIADB_HOST = localhost
MARIADB_PORT = 3306
MARIADB_USER = user
MARIADB_PASSWORD = password
MARIADB_DATABASE = rag_db
# QDRANT_HOST = qdrant # cuando la apliación corre dentro de un contenedor de docker
QDRANT_HOST = localhost
QDRANT_PORT = 6333
DATA_DIR = ./data
TEMP_DIR = ./temp